.jumbotron{
    
    background-color: #a2d2ff;
}


#projects{
    background-color: #a2d2ff;
    
}
section{
    padding-top: 5rem;
}

.projects-image{
    height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
}